name: action_syntax
permissions:
  contents: read
  pull-requests: write

on:
  push:
  pull_request:
    paths:
    - '.github/workflows/*.yaml'
    - '.github/workflows/*.yml'
    - '.github/actions/*.yaml'
    - '.github/actions/*.yml'

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: reviewdog/action-actionlint@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
